{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block title %}
Ansible Windows 10 GUI
{% endblock %}


{% block content %}
<div class="topnav">
  <a class="active" href="index">AZURE WINDOWS VM Provisoning</a>
  <a  href="soft">AZURE WINDOWS VM Configuration</a>
	<a href="http://127.0.0.1:5001" target="_blank">ANSIBLE LOGS</a>
  <a href="">Contact</a>
  <a href="">About</a>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <h1>This is the One Stop Deployment for an Azure to Load Windows 10.</h1>

			<h3>These are your windows configurations!</h3>
			<ul><li>os_type: Windows</li>
			<li>offer: Windows-10</li>
			<li> publisher: MicrosoftWindowsDesktop</li>
			<li>sku: rs1-enterprise</li>
				<li>version: latest</li></ul>
      {{ wtf.quick_form(form) }}
      <p class="space-above"><strong>{{ message }}</strong></p><br>
    </div>
  </div>
</div>


{% endblock %}
