{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block title %}
Ansible Windows 10 GUI
{% endblock %}


{% block content %}
<div class="topnav">
  <a  href="index">AZURE WINDOWS VM Provisoning</a>
  <a class="active" href="soft">AZURE WINDOWS VM Configuration</a>
	<a href="http://127.0.0.1:5001" target="_blank">ANSIBLE LOGS</a>
  <a href="">Contact</a>
  <a href="">About</a>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
<br>
      <h1>This is the One Stop Software for an Azure  Windows 10.</h1>

			<h3>These are your windows configurations!</h3>
			<ul><li>Configure a basic (and brand new) Windows 10 Enterprise system for Ansible access</li>
<li>Install Chocolatey Windows Package Manager using Ansible</li>
<li>Configure and enable SSH on standard port so that it starts up on restart of machine</li>
<li>Upload a configurable SSH key (I should be able to set my key so that I can test this process)</li>
<li>Install Git using Chocolatey</li>
</ul>
      {{ wtf.quick_form(form) }}
      <p class="space-above"><strong>{{ message }}</strong></p><br>
    </div>
  </div>
</div>


{% endblock %}
