#!powershell

# Move into the openssh directory (Mandatory, don't ask)
cd {{ openssh_extract_dir }}\{{ openssh_archive_name }}

# Steps documented in: https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH
.\ssh-keygen -A
New-NetFirewallRule -Name sshd -DisplayName 'OpenSSH Server (sshd)' -Enabled True -Direction Inbound -Protocol TCP -Action Allow -LocalPort 22
.\sshd.exe install
Start-Service sshd
Set-Service sshd -StartupType Automatic
